@charset "UTF-8";
@font-face {
  font-family: roboto;
  src: url(./police/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: shrikhand;
  src: url(./police/Shrikhand-Regular.ttf) format("truetype");
}

@-webkit-keyframes delay-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes delay-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-intro__localise__button {
  /*==== bouton avec le logo map de la bannière localisation*/
  border: none;
  background-color: transparent;
}

.section-intro > .button--pink {
  margin: 20px auto 60px auto;
}

.button--pink {
  /*===== bouton rose dégradé =====*/
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background: linear-gradient(-190deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 6px 9px -3px #353033;
          box-shadow: 0px 6px 9px -3px #353033;
  color: white;
  font-size: 0.85em;
  font-weight: bolder;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.center-button {
  text-align: center;
}

.center-button > .button--pink {
  margin-bottom: 60px;
}

.restorants__card--view--img img {
  /*==== images des restorants card ==== */
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.back-link {
  position: absolute;
  top: 50%;
  left: 25px;
  color: #404040;
}

.back-link:hover {
  color: #9356DC;
}

.describe__list__element > i {
  /* ===== logos de la section fonctionnement ===== */
  padding: 0 30px;
}

.describe__list__element__order {
  /*==== numéros de l'ordre des elements de la section fonctionnement==== */
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}

.restorants__card--view--new {
  /* ===== logo "Nouveau" des restorants cards ===== */
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  padding: 10px;
  color: #1b6150;
  border: #99E2D0;
  border-radius: 5px;
  background-color: #99E2D0;
}

.footer__logo {
  /*===== logo "ohmyfood" du footer ===== */
  margin-top: 0;
  font-family: shrikhand;
  font-weight: lighter;
}

.footer__menu__logo {
  /*==== logo du menu footer ==== */
  width: 20px;
  padding-right: 10px;
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  border: none;
  background-color: transparent;
  font-size: 25px;
}

.heart:hover .heart-full {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.heart-full {
  display: block;
  position: absolute;
  left: 6px;
  background: linear-gradient(-190deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.section-intro__title {
  /*==== titre de la 1ere section de la page d'acceuil "reservez le menu qui..." ====*/
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.section-intro__describe {
  /*===== paragraphe de la 1ere section "découvrez des restaurants..." ====*/
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}

.describe__list__element {
  /* ===== style des elements de la section fonctionnement ==== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 12px;
  font-size: 1.2em;
  font-weight: bolder;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 2px 9px 2px #D2CDD3;
          box-shadow: 0 2px 9px 2px #D2CDD3;
}

.describe__list__element > i {
  color: #999999;
}

.describe__list__element:hover {
  background-color: #f7e7e6;
}

.describe__list__element:hover > i {
  color: #9356DC;
}

@media all and (min-width: 500px) {
  .describe__list__element {
    width: 70%;
  }
}

@media all and (min-width: 766px) {
  .describe__list__element {
    width: 30%;
  }
}

.restorants__title {
  /*==== titre de la partie restaurants====*/
  width: 90%;
  margin: 20px auto 0;
}

@media all and (min-width: 766px) {
  .restorants__title {
    margin: 20px auto 0 auto;
  }
}

.menu-section__title {
  font-family: shrikhand;
}

.menu-compo__title {
  font-weight: 150;
  color: #404040;
}

.footer__menu--link {
  /* ====== liens du footer ===== */
  text-decoration: none;
  color: white;
}

.underline {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
  text-underline-offset: 7px;
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}

.lighten {
  color: #404040;
  font-size: 1.2em;
}

.section-intro__localise__input-text {
  /*==== zone input de la bannère de localisation "paris, belleville" ==== */
  border: none;
  margin-left: 15px;
  background-color: transparent;
  font-size: 1.1em;
  font-weight: 600;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: display 0s ease-in 3s forwards;
          animation: display 0s ease-in 3s forwards;
}

@-webkit-keyframes display {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes display {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 0;
    height: 0;
  }
}

.spiner {
  position: fixed;
  top: 300px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  width: 0;
  height: 0;
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

@-webkit-keyframes spin {
  0% {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  99% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  100% {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin {
  0% {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  99% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  100% {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

body {
  margin: 0 auto;
  font-family: roboto;
  position: relative;
}

.body-one {
  background-image: url(/images/restaurants/palette.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: top 100px left 50%;
  max-width: 1400px;
}

.body-two {
  background-image: url(/images/restaurants/note.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: top 100px left 50%;
  max-width: 1400px;
}

.body-three {
  background-image: url(/images/restaurants/francaise.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: top 100px left 50%;
  max-width: 1400px;
}

.body-four {
  background-image: url(/images/restaurants/delice.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
  background-position: top 100px left 50%;
  max-width: 1400px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.header-menus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 350px;
}

.section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  margin-bottom: 30px;
}

.section-intro__localise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: gainsboro;
}

.section-intro__localise__element {
  padding-left: 70px;
}

.describe {
  /* ===== style de la section fonctionnement ===== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
}

.describe__title {
  margin-bottom: 0;
}

.describe__list {
  /* ===== style de la liste de 3 elements de la section fonctionnement ===== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-bottom: 60px;
  list-style-type: none;
}

@media all and (min-width: 766px) {
  .describe__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restorants {
  /* ===== style de la section restaurants de la page d'acceuil ====== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px 0;
  background-color: whitesmoke;
}

@media all and (min-width: 766px) {
  .restorants {
    width: 100%;
    margin: auto;
  }
}

.restorants__list {
  /* ===== agencement de la liste de restorants cards ====== */
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

@media all and (min-width: 766px) {
  .restorants__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
}

.restorants__card {
  /* ===== style des restorants cards ======*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 18px 3px #D2CDD3;
          box-shadow: 0 0 18px 3px #D2CDD3;
  margin: 30px 0;
}

@media all and (max-width: 765px) {
  .restorants__card {
    margin: 30px auto;
  }
}

@media all and (min-width: 766px) {
  .restorants__card {
    width: 45%;
  }
}

@media all and (min-width: 1025px) {
  .restorants__card {
    width: 22%;
  }
}

.restorants__card figure {
  margin: 0;
}

.restorants__card--view {
  /* ===== style de la partie image de la card ===== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  padding: 0;
}

.restorants__card--info {
  /* ===== style de la partie descriptive de la card ==== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restorants__card--info--text {
  /* ===== style du bloc texte de la card ===== */
  width: 80%;
  padding-left: 20px;
}

.restorants__card--info--like {
  /* ===== style du bloc contenant le logo like (coeur) de la card ==== */
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  width: 20%;
}

.footer {
  background-color: #333131;
  color: white;
  padding: 20px;
}

.footer__menu {
  list-style-type: none;
  padding: 0;
}

.footer__menu > li {
  line-height: 25px;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  height: auto;
  padding: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.menu-section__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-compo__list {
  list-style-type: none;
  padding: 0;
}

@media all and (min-width: 765px) {
  .menu-compo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-compo__dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 7px 1px #c2bdc1;
          box-shadow: 0 0 7px 1px #c2bdc1;
}

@media all and (min-width: 765px) {
  .menu-compo__dish {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 48%;
  }
  .menu-compo__dish:hover > .selected {
    background-color: #99E2D0;
  }
  .menu-compo__dish:hover > .price {
    min-width: 20%;
  }
}

@media all and (min-width: 1025px) {
  .menu-compo__dish {
    width: 30%;
  }
}

.menu-compo__dish:hover {
  cursor: pointer;
}

.menu-compo__dish:hover .menu-compo__dish__name {
  min-width: 60%;
}

@media all and (min-width: 765px) {
  .menu-compo__dish:hover .menu-compo__dish__name {
    min-width: 100%;
  }
}

.menu-compo__dish:hover .fa-check {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

@media all and (min-width: 765px) {
  .menu-compo__dish:hover .fa-check {
    color: #99E2D0;
  }
}

.dish-one {
  opacity: 1;
  -webkit-animation: 1s ease 0.25s delay-display;
          animation: 1s ease 0.25s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-two {
  opacity: 1;
  -webkit-animation: 1s ease 0.5s delay-display;
          animation: 1s ease 0.5s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-three {
  opacity: 1;
  -webkit-animation: 1s ease 0.75s delay-display;
          animation: 1s ease 0.75s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-four {
  opacity: 1;
  -webkit-animation: 1s ease 1s delay-display;
          animation: 1s ease 1s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-five {
  opacity: 1;
  -webkit-animation: 1s ease 1.25s delay-display;
          animation: 1s ease 1.25s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-six {
  opacity: 1;
  -webkit-animation: 1s ease 1.5s delay-display;
          animation: 1s ease 1.5s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-seven {
  opacity: 1;
  -webkit-animation: 1s ease 1.75s delay-display;
          animation: 1s ease 1.75s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-eight {
  opacity: 1;
  -webkit-animation: 1s ease 2s delay-display;
          animation: 1s ease 2s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-nine {
  opacity: 1;
  -webkit-animation: 1s ease 2.25s delay-display;
          animation: 1s ease 2.25s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dish-ten {
  opacity: 1;
  -webkit-animation: 1s ease 2.5s delay-display;
          animation: 1s ease 2.5s delay-display;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.menu-compo__dish__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 80%;
  height: inherit;
  padding: 10px;
  background-color: white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.menu-compo__dish__name > p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media all and (min-width: 765px) {
  .menu-compo__dish__name {
    min-width: 100%;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media all and (min-width: 765px) {
  .price {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 80%;
  }
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media all and (min-width: 765px) {
  .selected {
    background-color: whitesmoke;
  }
}

.fa-check {
  padding: 10px;
  border-radius: 50%;
  color: #99E2D0;
  background-color: white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media all and (min-width: 765px) {
  .fa-check {
    color: whitesmoke;
  }
}
/*# sourceMappingURL=ohmyfood.css.map */