.section-intro__localise__button{
    /*==== bouton avec le logo map de la bannière localisation*/
    border: none;
    background-color: transparent;
}

.section-intro>.button--pink{
    margin: 20px auto 60px auto;
}
.button--pink{
    /*===== bouton rose dégradé =====*/
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background: $gradient1;
    @include btn-shadow;
    color: white;
    font-size: 0.85em;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        background: $gradient2;
        box-shadow: 0px 6px 15px 0px #353033;
    }
}

.center-button{
    text-align: center;
    &>.button--pink{
        margin-bottom: 60px;
    }
}