.section-intro__localise__input-text{
    /*==== zone input de la bannère de localisation "paris, belleville" ==== */
    border: none;
    margin-left: 15px;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 600;
}