@font-face{
    font-family: roboto;
    src: url(./police/Roboto-Regular.ttf) format("truetype");
}

@font-face{
    font-family: shrikhand;
    src: url(./police/Shrikhand-Regular.ttf) format("truetype");
}