$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-lignt: lighten($color: $primary-color, $amount:5%);
$secondary-light: lighten($color: $secondary-color, $amount:5%);
$tertiary-dark: darken($color: $tertiary-color, $amount: 50%);

$gradient1: linear-gradient(-190deg, $secondary-color, $primary-color);
$gradient2: linear-gradient(-190deg, $secondary-light, $primary-lignt);

$shadows:(
    hover: 0 0 7px rgb(54, 52, 52)
);

$transition-delays: (
    one: 0.25s,
    two: 0.50s,
    three: 0.75s,
    four: 1s,
    five: 1.25s,
    six: 1.50s,
    seven: 1.75s,
    eight: 2s,
    nine: 2.25s,
    ten: 2.50s
);

$media-q:(
    tablet: 766px,
    desktop:1020px,
);

$restorant-card-size:(
    tablet: 45%,
    desktop: 22%
);

$bg-img:(
    one: url("./images/restaurants/palette.jpg"),
    two: url("./images/restaurants/note.jpg"),
    three: url("./images/restaurants/francaise.jpg"),
    four: url("./images/restaurants/delice.jpg")
);