body{
    margin: 0 auto;
    font-family: roboto;
    position: relative;
}

.body-one{
    background-image: url(./images/restaurants/palette.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: top 100px left 50%;
    max-width: 1400px;
}

.body-two{
    background-image: url(./images/restaurants/note.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: top 100px left 50%;
    max-width: 1400px;
}

.body-three{
    background-image: url(./images/restaurants/francaise.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: top 100px left 50%;
    max-width: 1400px;
}

.body-four{
    background-image: url(./images/restaurants/delice.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: top 100px left 50%;
    max-width: 1400px;
}