.section-intro{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin-bottom: 30px;
}

.section-intro__localise{
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: darken($color: whitesmoke, $amount: 10);
        &__element{
            padding-left: 50px;
        }
    }