body{
    margin: 0 auto;
    font-family: roboto;
}
header{
    display: flex;
    height: 80px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}
.section-intro{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    &__localise{
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: silver;
        &__button{
            border: none;
            background-color: transparent;
        }
        &__input-text{
            border: none;
            margin-left: 15px;
            background-color: transparent;
        }
    }
    &__title{
        width: 60%;
        margin: 20px auto;
        text-align: center;
    }
    &__describe{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2em;
    }
    &__button-pink{
        width: 200px;
        height: 50px;
        margin: 20px auto;
        background: $gradient1;
        @include btn-shadow;
        color: white;
        font-size: 0.85em;
        font-weight: bolder;
        border: none;
        border-radius: 25px;
    }
}

.describe{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    &__list{
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        &__element{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            margin: 10px 0;
            border:1px solid black;
            border-radius: 20px;
            &>i{
                padding: 0 30px;
            }
        }
        &__element:last-child > i{
            color: $primary-color;
        }
    }
}

.restorants{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: whitesmoke;
    &__title{
        width: 90%;
        margin: 20px auto;
    }
    &__list{
        padding: 0;
        list-style-type: none;
    }
    &__card{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 18px 3px #D2CDD3;
        margin: 30px auto;
        & figure{
            margin: 0;
        }
        &--view{
            display: flex;
            width: 100%;
            height: 200px;
            padding: 0;
            &--img img{
                display: block;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            &--new{
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 2;
                padding: 10px;
                color: $tertiary-dark;
                border: $tertiary-color;
                border-radius: 3px;
                background-color:$tertiary-color;
            }
        }
        &--info{
            display: flex;
            &--text{
                width: 80%;
                padding-left: 20px;
            }
            &--like{
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                width: 20%;
            }
        }
    }
}

.footer{
    background-color: rgb(51, 49, 49);
    color: white;
    padding: 20px;
    &__logo{
        margin-top: 0;
        font-family: shrikhand;
        font-weight: lighter;
    }
    &__menu{
        list-style-type: none;
        padding: 0;
        &--link{
            text-decoration: none;
            color: white;
        }
        &__logo{
            width: 20px;
            padding-right: 10px;
        }
    }
}