.menu-section{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: auto;
    padding: 20px;
    margin-top: -70px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.menu-section__name{
    display: flex;
    justify-content: space-between;
}


.menu-compo__list{
    list-style-type: none;
    padding: 0;
    @media all and (min-width:765px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.menu-compo__dish{
    display:flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    @include menu-shadow;
    
    @media all and (min-width:765px){
        width: 48%;
        &:hover>.selected{
            background-color: $tertiary-color;
        }
        &:hover>.price{
            min-width: 20%;
        }
    }
    @media all and (min-width: 1025px){
        width: 30%;
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .menu-compo__dish__name{
        min-width: 60%;
    }
    &:hover .fa-check{
        transform: rotateZ(360deg);
    }
    

}

.dish{
    @include delay;
}

.menu-compo__dish__name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 80%;
    height: inherit;
    padding: 10px;
    background-color: white;
    transition-property: all;
    transition-duration: 500ms;
    &>p{
        margin: 0;
        overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
    }
}

.price{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    transition-property: all;
    transition-duration: 500ms;
}

.selected{
    display: flex;
    min-width: 20%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    transition-property: all;
    transition-duration: 500ms;
}

.fa-check{
    padding: 10px;
    border-radius: 50%;
    color: $tertiary-color;
    background-color: white;
    transition-property: all;
    transition-duration: 500ms;
}